<footer class="align-{{align}}">
  <div class="logos">
    <img src="/assets/images/logos/sena.png" alt="SENA">
    <img src="/assets/images/logos/sennova.png" alt="Sennova">
    <img src="/assets/images/logos/amazonas-verde.png" alt="Amazonas verde">
  </div>
</footer>