<div class="profile {{#if reduced}} reduced {{/if}}">
  <button class="open-container hidden" title="Nombre de usuario">
    <img src="/assets/images/avatars/boy1.png" alt="Imagen de perfil">
      <span>
        Sin registrar
      </span>
  </button>
  
  <div class="profile-container hidden">
    <button class="backdrop"></button>
    
    <button class="btn-restore" type="button">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor" stroke-width="2" stroke-linecap="round"  stroke-linejoin="round" >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M19 18a3.5 3.5 0 0 0 0 -7h-1c.397 -1.768 -.285 -3.593 -1.788 -4.787c-1.503 -1.193 -3.6 -1.575 -5.5 -1s-3.315 2.019 -3.712 3.787c-2.199 -.088 -4.155 1.326 -4.666 3.373c-.512 2.047 .564 4.154 2.566 5.027" />
        <path d="M8 15m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
        <path d="M10 15v-2a2 2 0 0 1 3.736 -1" />
      </svg>
      Restaurar perfiles
    </button>

    <div class="restore-container">
      <i>&times;</i>
      <form id="form-restore-profiles">
        <input placeholder="Ingresa token de restauración" />
        <button type="submit">Restaurar</button>
      </form>
      <small>Usa un token para recuperar todos los perfiles.</small>
    </div>

    <div class="profile-content">
      <form id="form-new-profile">
        <h2>Crea un nuevo perfil</h2>
        <input class="username" name="username" placeholder="Nombre y Apellido">
        
        <p>Selecciona un avatar</p>
        <div class="avatars">
          <label for="avatar1">
            <input type="radio" id="avatar1" name="avatar" value="boy1">
            <img src="/assets/images/avatars/boy1.png" alt="Avatar 1">
          </label>
          <label for="avatar2">
            <input type="radio" id="avatar2" name="avatar" value="boy2">
            <img src="/assets/images/avatars/boy2.png" alt="Avatar 2">
          </label>
          <label for="avatar3">
            <input type="radio" id="avatar3" name="avatar" value="boy3">
            <img src="/assets/images/avatars/boy3.png" alt="Avatar 3">
          </label>
          <label for="avatar4">
            <input type="radio" id="avatar4" name="avatar" value="girl1">
            <img src="/assets/images/avatars/girl1.png" alt="Avatar 4">
          </label>
          <label for="avatar5">
            <input type="radio" id="avatar5" name="avatar" value="girl2">
            <img src="/assets/images/avatars/girl2.png" alt="Avatar 5">
          </label>
          <label for="avatar6">
            <input type="radio" id="avatar6" name="avatar" value="girl3">
            <img src="/assets/images/avatars/girl3.png" alt="Avatar 6">
          </label>
        </div>

        <button class="btn-submit" type="submit">Guardar</button>
        <small class="error-message">Este es un error</small>
      </form>

      <div class="profiles-loaded">
        <span>ó carga tu perfil</span>
        <div class="profile-cards">
          <template>
            <button class="profile-card">
              <img src="/assets/images/avatars/boy1.png" alt="Imagen de perfil">
              <span class="name" title="Jessica Pistala chalaca y no sé que más">
                Jessica Pistala chalaca y no sé que más
              </span>
              <p class="last-time">Última vez: <time>15/07/2024 - 07:45pm</time></p>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
            </button>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import { io } from '/assets/lib/socketio/socket.io.esm.min.js'
  
  const socket = io()
  const $backdrop = document.querySelector('.backdrop');
  const $restoreButton = document.querySelector('.btn-restore');
  const $restoreContainer = document.querySelector('.restore-container');
  const $restoreClose = document.querySelector('.restore-container i');
  const $formRestore = document.querySelector('#form-restore-profiles');

  $restoreButton.addEventListener('click', () =>  {
    $restoreContainer.style.display = 'inline-block'
  });

  $restoreClose.addEventListener('click', () =>  {
    $restoreContainer.style.display = 'none'
  });

  $backdrop.addEventListener('click', () =>  {
    $restoreContainer.style.display = 'none'
  });

  $formRestore.addEventListener('submit', (e) => {
    e.preventDefault();
    socket.emit('restoreProfiles', e.target[0].value)
  });

  socket.on('restoredProfiles', (response) => {
    const currentProfiles = JSON.parse(window.localStorage.getItem('profiles')) || []
    currentProfiles.push(...response)
    window.localStorage.setItem('profiles', JSON.stringify(currentProfiles))
    window.location.reload()
  });
</script> 