<div class="sidebar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/cartilla">Cartilla</a></li>
        <li><a href="/cartilla/modulo-1">Módulo 1</a></li>
        <li><a href="/cartilla/modulo-2">Módulo 2</a></li>
        <li><a href="/cartilla/modulo-3">Módulo 3</a></li>
        <li><a href="/cartilla/modulo-4">Módulo 4</a></li>
        <li><a href="/cartilla/modulo-5">Módulo 5</a></li>
    </ul>
</div>
