{{> page-info
  title="Cartilla"
  description="Descripci칩n de la p치gina cartilla."
}}

<div style="display: none;">
  <h1>Cartilla!</h1>
{{#if moduleId}}
  <h2>M칩dulo #{{moduleId}} seleccionado.</h2>
{{else}}
  <h2>Mostrar todos los m칩dulos.</h2>
  <ul>
    {{#each modules}}
      <li>
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
      </li>
    {{/each}}
  </ul>
{{/if}} 
</div>

<main>
  <div class="img-page">
    <img class="full-screen-image" src="assets/images/pages/modules.jpg">
    <div class="buttons-modules">
    </div>
  </div>
</main>
