{{> page-info
  title="Cartilla"
  description="Descripci칩n de la p치gina cartilla."
}}

  <h1>Cartilla!</h1>
{{#if moduleId}}
  <h2>M칩dulo #{{moduleId}} seleccionado.</h2>
{{else}}
  <h2>Mostrar todos los m칩dulos.</h2>
  <ul>
    {{#each modules}}
      <li>
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
      </li>
    {{/each}}
  </ul>
{{/if}} 

{{> sidebar}}
