{{> page-info
  title="Cartilla"
  description="Descripción de la página cartilla."
}}

<main>
  <div class="img-page">
    <img class="full-screen-image" src="/assets/images/pages/modules.jpg">
    <div class="buttons-modules">
      {{#each modules}}
        <a href="cartilla/modulo-{{_id}}" title="{{this.title}}: {{this.description}}"></a>
      {{/each}}
    </div>
  </div>
</main>
