{{#section "head"}}
  {{> page-info
    title="Cartilla interactiva | SENNOVA"
  }}
  
  <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css">
{{/section}}

<main>
  <a class="back-btn" href="/">
    <img src="/assets/images/back-btn.png" alt="Volver a atrás" />
  </a>
  
  <div id="game-zone-title" class="static-content">
    <img src="/assets/images/pages/game-zone-title.png" alt="Videos de calentamiento" />
  </div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>1</span>
          {{> button 
            id="btn-juego-1"
            href="/zona-de-juegos/la-figura-negra" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>2</span>
          {{> button 
            id="btn-juego-2"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>3</span>
          {{> button 
            id="btn-juego-3"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>4</span>
          {{> button 
            id="btn-juego-4"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>5</span>
          {{> button 
            id="btn-juego-5"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>6</span>
          {{> button 
            id="btn-juego-6"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>7</span>
          {{> button 
            id="btn-juego-7"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>8</span>
          {{> button 
            id="btn-juego-8"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>9</span>
          {{> button 
            id="btn-juego-9"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>10</span>
          {{> button 
            id="btn-juego-10"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>11</span>
          {{> button 
            id="btn-juego-11"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>12</span>
          {{> button 
            id="btn-juego-12"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>13</span>
          {{> button 
            id="btn-juego-13"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>14</span>
          {{> button 
            id="btn-juego-14"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/images/placeholder.png" alt="Juego">
        <div class="swiper-slide-content">
          <span>15</span>
          {{> button 
            id="btn-juego-15"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="nav-buttons">
      <button class="button-prev"></button>
      <a href="/cartilla" class="button-home"></a>
      <button class="button-next"></button>
    </div>
  </div>
</main>

{{> footer}}

<script src="/assets/lib/swiper/swiper-bundle.min.js"></script>
<script>
   document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      effect: "carousel",
      carouselEffect: {
          opacityStep: .33,
          scaleStep: .1,
          sideSlides: 3
      },
      spaceBetween: 100,
      grabCursor: true,
      loop: true,
      loopAdditionalSlides: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.button-next',
        prevEl: '.button-prev',
      },
    });
  });
</script>


{{#section "style"}}
  <style>
    main {
      width: 100%;
      background-image: url('/assets/images/pages/main-bg.jpg');
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #game-zone-title {
      width: 100%;
      height: 30rem;
      min-width: 40rem;
      max-width: 60rem;
      padding: 3rem 2rem 2rem;
      margin: 0 auto;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .swiper-container {
      width: 60vw;
      height: 60vh;
      min-height: 50rem;
      padding-bottom: 5rem;

      .swiper-slide {
        width: 60vw;
        position: relative;
        border-radius: 9999px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2rem;
          box-shadow: 0 7px 7px rgba(0,0,0,0.3);
        }
        
        .swiper-slide-content {
          width: 100%;
          height: 100%;
          position: absolute;
          top: -1rem;
          right: -1rem;
          z-index: 10;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          > a.btn {
            width: 50%;
            height: auto;
            flex-shrink: 1;
            align-self: center;
            margin-bottom: 1.5rem;
            
            span {
              padding: 1rem;
              font-size: 3rem;
            }
          }

          > span {
            width: 7rem;
            height: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            background-color: red;
            color: white;
            text-align: center;
            font-size: 3rem;
            border-radius: 9999px; 
          }
        }
      }

      .swiper-pagination {
        position: fixed;
        bottom: 5rem;
      }
    }
  </style>
{{/section}}