{{#section "head"}}
  {{> page-info
    title="Cartilla interactiva | SENNOVA"
  }}
  
  <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css">

  <script src="/scripts/main.js" type="module"></script>
  <script type="module">
    import { Profile } from '/scripts/profile.js'
    Profile()
  </script>
{{/section}}

<main>
  <a class="back-btn" href="/">
    <img src="/assets/images/back-btn.png" alt="Volver a atrás" />
  </a>

  {{> profile }}
  
  <div id="game-zone-title" class="static-content">
    <img src="/assets/images/pages/game-zone-title.png" alt="Videos de calentamiento" />
  </div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-1.jpg" alt="Las figuras y sus silencios">
        <div class="swiper-slide-content">
          {{> button 
            id="g1-the-figures-and-their-silences"
            href="/zona-de-juegos/las-figuras-y-sus-silencios" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-2.jpg" alt="¿Qué ritmo suena?">
        <div class="swiper-slide-content">
          {{> button 
            id="g2-what-rhythm-is-playing"
            href="/zona-de-juegos/que-ritmo-suena" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-3.jpg" alt="La figura corchea">
        <div class="swiper-slide-content">
          {{> button 
            id="g3-the-eighth-note-figure"
            href="/zona-de-juegos/la-figura-corchea" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-4.jpg" alt="La figura semicorchea">
        <div class="swiper-slide-content">
          {{> button 
            id="g4-the-sixteenth-note-figure"
            href="/zona-de-juegos/la-figura-semicorchea" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-5.jpg" alt="La figura silencio de corchea">
        <div class="swiper-slide-content">
          {{> button 
            id="g5-the-eighth-rest-figure"
            href="/zona-de-juegos/la-figura-silencio-de-corchea" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-6.jpg" alt="Juega con el ritmo">
        <div class="swiper-slide-content">
          {{> button 
            id="g6-play-with-the-rhythm"
            href="/zona-de-juegos/juega-con-el-ritmo" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-7.jpg" alt="¿Suben o bajan los tonos?">
        <div class="swiper-slide-content">
          {{> button 
            id="g7-do-the-tones-go-up-or-down"
            href="/zona-de-juegos/suben-o-bajan-los-tonos" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-8.jpg" alt="DO, RE, MI">
        <div class="swiper-slide-content">
          {{> button 
            id="g8-do-re-mi"
            href="/zona-de-juegos/do-re-mi" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-9.jpg" alt="FA, SOL, LA">
        <div class="swiper-slide-content">
          {{> button 
            id="g9-fa-sol-la"
            href="/zona-de-juegos/fa-sol-la" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-10.jpg" alt="LA, SI, DO">
        <div class="swiper-slide-content">
          {{> button 
            id="g10-la-si-do"
            href="/zona-de-juegos/la-si-do" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-11.jpg" alt="Escala de DO">
        <div class="swiper-slide-content">
          {{> button 
            id="g11-do-scale"
            href="/zona-de-juegos/escala-de-do" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-12.jpg" alt="Clave de SOL">
        <div class="swiper-slide-content">
          {{> button 
            id="g12-treble-clef"
            href="/zona-de-juegos/clave-de-sol" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-13.jpg" alt="Escalas mayores">
        <div class="swiper-slide-content">
          {{> button 
            id="g13-major-scales"
            href="/zona-de-juegos/escalas-mayores" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-14.jpg" alt="Escalas cromáticas">
        <div class="swiper-slide-content">
          {{> button 
            id="g14-chromatic-scales"
            href="/zona-de-juegos/escalas-cromaticas" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/games/assets/images/thumbnails/game-15.jpg" alt="Escalas mayores y menores">
        <div class="swiper-slide-content">
          {{> button 
            id="g15-major-and-minor-scales"
            href="/zona-de-juegos/escalas-mayores-y-menores" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
    </div>
    
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</main>

{{> footer}}

<script src="/assets/lib/swiper/swiper-bundle.min.js"></script>
<script>
   document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      effect: "coverflow",
      direction: "horizontal",
      mousewheel: true,
      grabCursor: true,
      slidesPerView: '3.5',
      loop: true,
      centeredSlides: true,
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

{{#section "style"}}
  <style>
    main {
      width: 100%;
      background-image: url('/assets/images/pages/main-bg.jpg');
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #game-zone-title {
      width: 45vw;
      padding: 0 10vw;
      margin: 4vw auto 2vw;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    /* Animation Fade in */    
    @keyframes fadeIn {
      from { 
        height: 0;
        opacity: 0; 
      }
      to { 
        height: auto;
        opacity: 1; 
      }
    }

    .swiper-container {
      width: 100%;
      padding: 0 5vw 5vw;
      user-select: none;

      .swiper-slide {
        height: 0;
        position: relative;
        border-radius: 100vw;
        opacity: 0;
        animation: 300ms fadeIn 200ms forwards;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2vw;
          box-shadow: 0 5px 12px rgba(0,0,0,0.4);
        }

        .swiper-slide-shadow-coverflow {
          border-radius: 2vw;
        }
        
        .swiper-slide-content {
          width: 100%;
          height: fit-content;
          padding-top: 5vw;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 10;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          opacity: 0;
          transition: 200ms;

          background: rgba(0,0,0,0.3);
          background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
          border-bottom-left-radius: 2vw;
          border-bottom-right-radius: 2vw;

          > a.btn {
            width: 50%;
            height: auto;
            margin-bottom: 1vw;
            align-self: center;
            filter: saturate(130%);
            transform: translateY(2vw);
            
            span {
              padding: 0.7vw;
              font-size: 1.5vw;
            }
          }
        }
      }
    }

    .swiper-slide:hover .swiper-slide-content {
      opacity: 1;

      > a.btn {
        transform: translateY(0);
        transition-delay: 50ms;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      width: 3vw;
      height: 3vw !important;
      margin: 0 3vw;
      top: 10vw;
      color: #449342;
      background-color: rgba(255,255,255,0.8);
      padding: 2vw;
      border-radius: 100vw;
      box-shadow: 0 5px 12px rgba(0,0,0,0.4);
      opacity: 0;
      transition: 150ms;
      animation: 300ms fadeIn 700ms forwards;

    }

    .swiper-button-next:hover, .swiper-button-prev:hover {
      transform: scale(1.05);
      opacity: 1;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
      font-size: 2vw;
      font-weight: bold;
      text-align: center;
    }
  </style>
{{/section}}