{{#section "head"}}
  {{> page-info
    title="Cartilla interactiva | SENNOVA"
  }}
  
  <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css">
{{/section}}

<main>
  <a class="back-btn" href="/">
    <img src="/assets/images/back-btn.png" alt="Volver a atrás" />
  </a>
  
  <div id="game-zone-title" class="static-content">
    <img src="/assets/images/pages/game-zone-title.png" alt="Videos de calentamiento" />
  </div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-1.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-1"
            href="/zona-de-juegos/la-figura-negra" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-2.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-2"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-3.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-3"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-4.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-4"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-5.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-5"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E"
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-6.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-6"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-7.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-7"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-8.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-8"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-9.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-9"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-10.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-10"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-11.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-11"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-12.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-12"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#52c1d4" 
            gradient-to="#5063a8" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-13.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-13"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-14.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-14"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#9E53D2" 
            gradient-to="#6C53D3" 
          }}
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/assets/games/thumbnails/game-15.jpg" alt="Juego">
        <div class="swiper-slide-content">
          {{> button 
            id="btn-juego-15"
            href="/zona-de-juegos/juego-1" 
            label="¡Jugar!" 
            gradient-from="#D3D156" 
            gradient-to="#57AC4E" 
          }}
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer}}

<script src="/assets/lib/swiper/swiper-bundle.min.js"></script>
<script>
   document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      effect: "coverflow",
      direction: "horizontal",
      mousewheel: true,
      grabCursor: true,
      slidesPerView: '3.5',
      loop: true,
      centeredSlides: true,
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
    });
  });
</script>


{{#section "style"}}
  <style>
    main {
      width: 100%;
      background-image: url('/assets/images/pages/main-bg.jpg');
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #game-zone-title {
      width: 100%;
      min-width: 40rem;
      max-width: 60rem;
      padding: 5rem 2rem 2rem;
      margin: 0 auto;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .swiper-container {
      width: 100%;
      padding: 0 5rem 5rem;
      user-select: none;
      
      .swiper-slide {
        aspect-ratio: 1;
        position: relative;
        border-radius: 9999px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2rem;
          box-shadow: 0 5px 12px rgba(0,0,0,0.4);
        }

        .swiper-slide-shadow-coverflow {
          border-radius: 2rem;
        }
        
        .swiper-slide-content {
          width: 100%;
          height: fit-content;
          padding-top: 5rem;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 10;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          opacity: 0;
          transition: 200ms;

          background: rgba(0,0,0,0.3);
          background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
          border-bottom-left-radius: 2rem;
          border-bottom-right-radius: 2rem;

          > a.btn {
            width: 50%;
            height: auto;
            margin-bottom: 1rem;
            align-self: center;
            filter: saturate(130%);
            transform: translateY(2rem);
            
            span {
              padding: 1rem;
              font-size: 3rem;
            }
          }
        }
      }
    }

    .swiper-slide:hover .swiper-slide-content {
      opacity: 1;

      > a.btn {
        transform: translateY(0);
        transition-delay: 50ms;
      }
    }
  </style>
{{/section}}