{{#section "head"}}
  {{> page-info
    title="Cartilla interactiva | SENNOVA"
    description="Descripción de la página de inicio."
  }}
{{/section}}

<main>
  <div class="img-page">
    <img class="full-screen-image" src="assets/images/pages/game-zone.jpg">
    <div class="buttons-game-zone">
    </div>
  </div>
</main>
