{{#section "head"}}
  {{> page-info
    title="Cartilla interactiva | SENNOVA"
    description="Descripción de la página de inicio."
  }}
{{/section}}

<main>
  <div class="img-page">
    <img class="full-screen-image" src="/assets/images/pages/home.jpg">
    <div class="buttons-home">
      <a href="cartilla">Cartilla interactiva</a>
      <a href="calentamiento">Videos de calentamiento</a>
      <a href="zona-juegos">Zona de juegos</a>
    </div>
  </div>
</main>

{{> footer align='center'}}