{{#section "head"}}
{{> page-info
  title="Cartilla interactiva | SENNOVA"
}}
{{/section}}

<main>
  <div id="booklet-title">
    <img src="/assets/images/pages/booklet-title.png" alt="Cartilla interactiva para la enseñanza de música" />
  </div>
  <section id="nav-buttons">
    {{> button 
      id="btn-cartilla-interactiva"
      href="/cartilla" 
      label="Cartilla interactiva" 
      gradient-from="#52c1d4" 
      gradient-to="#5063a8" 
    }}
    {{> button 
      id="btn-videos-de-calentamiento" 
      href="/calentamiento" 
      label="Videos de calentamiento" 
      gradient-from="#9E53D2" 
      gradient-to="#6C53D3" 
    }}
    {{> button 
      id="btn-zona-de-juegos" 
      href="/zona-de-juegos" 
      label="Zona de juegos" 
      gradient-from="#D3D156" 
      gradient-to="#57AC4E" 
    }}
  </section>
</main>

{{> footer}}

{{#section "style"}}
<style>
  main {
    width: 100%;
    background-image: url('/assets/images/pages/main-bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #booklet-title {
    width: 100%;
    min-width: 40rem;
    max-width: 100rem;
    padding: 0rem 2rem;
    margin: 0 auto;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  #nav-buttons {
    width: fit-content;
    padding: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
{{/section}}