{{#section "head"}}
  {{> page-info
  title="Cartilla interactiva | SENNOVA"
  description="Descripción de la página de inicio."
  }}

  <link rel="stylesheet" href="/assets/lib/swiper/swiper-bundle.min.css">

  <style>
    .nav-buttons {
      position: fixed;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

    .nav-buttons button, .nav-buttons a {
      width: 8rem;
      height: 8rem;
      z-index: 10;
      border-radius: 50%;
      border: solid rgb(255 0 0 / 50%);
      background-color: rgb(255 0 0 / 30%);
    }
  </style>
{{/section}}

<main>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each imageFiles}}
        <div class="swiper-slide">
          <img class="full-screen-image" src="/assets/images/slides/module-{{../moduleId}}/{{this}}">
        </div>
      {{/each}}
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="nav-buttons">
      <button class="button-prev"></button>
      <a href="/cartilla" class="button-home"></a>
      <button class="button-next"></button>
    </div>
  </div>
</main>

<script src="/assets/lib/swiper/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      loop: false,
      effect: 'fade',
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.button-next',
        prevEl: '.button-prev',
      },
    });
  });
</script>