{{#section "head"}}
{{> page-info
  title="Cartilla interactiva | SENNOVA"
}}
{{/section}}

<main>
  <a class="back-btn" href="/">
    <img src="/assets/images/back-btn.png" alt="Volver a atrás" />
  </a>
  
  <div id="warm-up-title" class="static-content">
    <img src="/assets/images/pages/modules-title.png" alt="Videos de calentamiento" />
  </div>

  <div id="warm-up-videos">
  <video onclick="playFullscreenVideo(1)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-1.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-1.mp4">
  </video>
  <video onclick="playFullscreenVideo(2)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-2.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-2.mp4">
  </video>
  <video onclick="playFullscreenVideo(3)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-3.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-3.mp4">
  </video>
  <video onclick="playFullscreenVideo(4)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-4.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-4.mp4">
  </video>
  <video onclick="playFullscreenVideo(5)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-5.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-5.mp4">
  </video>
  <video onclick="playFullscreenVideo(6)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-6.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-6.mp4">
  </video>
  <video onclick="playFullscreenVideo(7)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-7.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-7.mp4">
  </video>
  <video onclick="playFullscreenVideo(8)" preload="metadata" controls poster="/assets/images/thumbnails/warm-up/exercise-8.jpg">
    <source type="video/mp4" src="/assets/videos/warm-up/exercise-8.mp4">
  </video>
</main>

{{> footer}}

{{#section "style"}}
<style>
  main {
    width: 100%;
    background-image: url('/assets/images/pages/main-bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7vw 3vw;
  }

  #warm-up-title {
    width: 40vw;
    padding: 0 10vw;
    margin: 4vw auto 0;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  #warm-up-videos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding: 2vw;

    video {
      width: 100%;
      cursor: pointer;
      border-radius: 0.5vw;
      overflow: hidden;
      transition: 200ms;
    }

    video:hover {
      transform: scale(1.03) translateY(-0.5vw);
      box-shadow: 0 7px 12px rgba(0,0,0,0.4);
    }

  }
</style>
{{/section}}