/* Barra superior */
#top-bar {
  width: 100%;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  --padding-top-bar: 0.7rem;
}

#top-bar::before {
  content: '';
  -webkit-app-region: drag;
  flex-grow: 1;
  padding: var(--padding-top-bar);
}

#top-bar .action-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-right: 0.7rem;
  padding: var(--padding-top-bar) 0;
}

#top-bar .action-buttons button {
  opacity: 0.7;
}

#top-bar .action-buttons button:hover {
  opacity: 1;
}

#top-bar .action-buttons button svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: hsl(var(--foreground));
}

/* Contenido principal */
main {
  width: 100%;
  height: 100svh;
  display: flex;
}

main .panel-server {
  width: 70rem;
  height: 100%;
  border-left: 1px hsl(var(--border)) solid;
}

main .content {
  width: 100%;
  height: 100%;
  border-left: 1px hsl(var(--border)) solid;
}