{{#section "head"}}
  {{> page-info
  title="Cartilla interactiva | SENNOVA"
  description="Descripción de la página de inicio."
  }}
  
  <style>
    .swiper-slide {
      background-image: url('/assets/images/modules/module-4/bg-main.jpg');
    }
  </style>
{{/section}}

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-1.png" alt="Página 1">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-2.png" alt="Página 2">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-3.png" alt="Página 3">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-4.png" alt="Página 4">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-5.png" alt="Página 5">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-6.png" alt="Página 6">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-7.png" alt="Página 7">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-8.png" alt="Página 8">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-9.png" alt="Página 9">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-10.png" alt="Página 10">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-11.png" alt="Página 11">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-12.png" alt="Página 12">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-13.png" alt="Página 13">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-14.png" alt="Página 14">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-15.png" alt="Página 15">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-16.png" alt="Página 16">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-17.png" alt="Página 17">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-18.png" alt="Página 18">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-19.png" alt="Página 19">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-20.png" alt="Página 20">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-21.png" alt="Página 21">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-22.png" alt="Página 22">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-23.png" alt="Página 23">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-24.png" alt="Página 24">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-25.png" alt="Página 25">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-26.png" alt="Página 26">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-27.png" alt="Página 27">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-28.png" alt="Página 28">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-29.png" alt="Página 29">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-30.png" alt="Página 30">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-31.png" alt="Página 31">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-32.png" alt="Página 32">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-33.png" alt="Página 33">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-34.png" alt="Página 34">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-35.png" alt="Página 35">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-4/contents/page-36.png" alt="Página 36">
</div>