{{#section "head"}}
  {{> page-info
  title="Cartilla interactiva | SENNOVA"
  description="Descripción de la página de inicio."
  }}
  
  <style>
    .swiper-slide {
      background-image: url('/assets/images/modules/module-3/bg-main.jpg');
    }
  </style>
{{/section}}

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-1.png" alt="Página 1">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-2.png" alt="Página 2">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-3.png" alt="Página 3">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-4.png" alt="Página 4">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-5.png" alt="Página 5">
  <div class="swiper-content">
    <video onclick="playFullscreenVideo(1)" preload="metadata" controls poster="/assets/images/thumbnails/modules/mod3-signs-of-prolongation.jpg">
      <source type="video/mp4" src="/assets/videos/modules/mod3-signs-of-prolongation.mp4">
    </video>
    <div class="source-video" style="max-width: 70%">
      <p>
        <strong><i>Juan Carlos Sánchez.</i> (18 de enero de 2023)</strong><br />
        Los signos prolongación.<br />
        <a href="https://youtu.be/5PTbXvGTbW4" target="_blank">https://youtu.be/5PTbXvGTbW4</a>
     </p>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-6.png" alt="Página 6">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-7.png" alt="Página 7">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-8.png" alt="Página 8">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-9.png" alt="Página 9">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-3/contents/page-10.png" alt="Página 10">
</div>
