{{#section "head"}}
  {{> page-info
  title="Cartilla interactiva | SENNOVA"
  description="Descripción de la página de inicio."
  }}
  
  <style>
    .swiper-slide {
      background-image: url('/assets/images/modules/module-1/bg-main.jpg');
    }
  </style>
{{/section}}

<div class="swiper-slide" style="background-image: url('/assets/images/modules/module-1/bg-secondary.jpg')">
  <img src="/assets/images/modules/module-1/contents/page-1.png">
  <div class="swiper-content">
    <video onclick="playFullscreenVideo(1)" preload="metadata" controls poster="/assets/images/thumbnails/modules/mod1-music-introduction.jpg">
      <source type="video/mp4" src="/assets/videos/modules/mod1-music-introduction.mp4">
    </video>
    <div class="source-video">
      <p>
        <strong><i>Soundless.</i> (21 de febrero de 2018)</strong><br />
        ¿Cómo nació la música? <br /> 
        <a href="https://youtu.be/DAotsp2ufr8" target="_blank">https://youtu.be/DAotsp2ufr8</a>
      </p>
      <p>
        <strong><i>UnoTV Bites.</i> (27 de junio de 2013)</strong><br />
        La historia de la música. <br /> 
        <a href="https://youtu.be/6jgqlUp4MkM" target="_blank">https://youtu.be/6jgqlUp4MkM</a>
      </p>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-2.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-3.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-1.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
    {{> activity-card
      title="Juega el nivel 1"
      href="/zona-de-juegos/juega-con-el-ritmo"
      image="/games/assets/images/thumbnails/game-6.jpg"
    }}
    {{> activity-card
      title="Juega el nivel fácil"
      href="/zona-de-juegos/las-figuras-y-sus-silencios"
      image="/games/assets/images/thumbnails/game-1.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-4.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-2.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
    {{> activity-card
      title="Juega el nivel 2"
      href="/zona-de-juegos/juega-con-el-ritmo"
      image="/games/assets/images/thumbnails/game-6.jpg"
    }}
    {{> activity-card
      title="Juega el nivel medio"
      href="/zona-de-juegos/las-figuras-y-sus-silencios"
      image="/games/assets/images/thumbnails/game-1.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-5.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Juega el nivel 3"
      href="/zona-de-juegos/juega-con-el-ritmo"
      image="/games/assets/images/thumbnails/game-6.jpg"
    }}
    {{> activity-card
      title="Juega el nivel dificil"
      href="/zona-de-juegos/las-figuras-y-sus-silencios"
      image="/games/assets/images/thumbnails/game-1.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-6.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-3.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
    {{> activity-card
      title="Juega el nivel 4"
      href="/zona-de-juegos/juega-con-el-ritmo"
      image="/games/assets/images/thumbnails/game-6.jpg"
    }}
    {{> activity-card
      title="¿Qué ritmo suena?"
      href="/zona-de-juegos/que-ritmo-suena"
      image="/games/assets/images/thumbnails/game-2.jpg"
    }}
    {{> activity-card
      title="Dictado rítmico de Corcheas"
      href="/zona-de-juegos/la-figura-corchea"
      image="/games/assets/images/thumbnails/game-3.jpg"
    }}
    {{> activity-card
      title="Silencio de Corcheas"
      href="/zona-de-juegos/la-figura-silencio-de-corchea"
      image="/games/assets/images/thumbnails/game-5.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-7.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-4.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
    {{> activity-card
      title="Juega el nivel 5"
      href="/zona-de-juegos/juega-con-el-ritmo"
      image="/games/assets/images/thumbnails/game-6.jpg"
    }}
    {{> activity-card
      title="Dictado rítmico de Semicorcheas"
      href="/zona-de-juegos/la-figura-corchea"
      image="/games/assets/images/thumbnails/game-4.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-8.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Juega el nivel 6"
      href="/zona-de-juegos/juega-con-el-ritmo"
      image="/games/assets/images/thumbnails/game-6.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-9.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-10.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-5.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-11.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-6.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-12.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-7.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-13.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-14.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Ejercicios manuales"
      href="/guias/guia-de-apoyo-1-8.pdf"
      image="/assets/images/thumbnails/modules/example-folder.avif"
    }}
  </div>
</div>