{{#section "head"}}
  {{> page-info
  title="Cartilla interactiva | SENNOVA"
  description="Descripción de la página de inicio."
  }}
  
  <style>
    .swiper-slide {
      background-image: url('/assets/images/modules/module-2/bg-main.jpg');
    }
  </style>
{{/section}}

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-1.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Practica la intensidad del sonido"
      href="/guias/guia-de-apoyo-2-1.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
    {{> activity-card
      title="Práctica para reconocer los instrumentos"
      href="/guias/guia-de-apoyo-2-2.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
    {{> activity-card
      title="¿Suben o bajan los tonos?"
      href="/zona-de-juegos/suben-o-bajan-los-tonos"
      image="/games/assets/images/thumbnails/game-7.jpg"
      game=true
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-2.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Fabrica tu propio instrumentos"
      href="/guias/guia-de-apoyo-2-3.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
    {{> activity-card
      title="Identifica y colorea el instrumento"
      href="/guias/guia-de-apoyo-2-4.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-3.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-4.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Practica la escala musical"
      href="/guias/guia-de-apoyo-2-5.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
    {{> activity-card
      title="Notas Do, Re y Mi"
      href="/zona-de-juegos/do-re-mi"
      image="/games/assets/images/thumbnails/game-8.jpg"
      game=true
    }}
    {{> activity-card
      title="Notas Fa, Sol y La"
      href="/zona-de-juegos/fa-sol-la"
      image="/games/assets/images/thumbnails/game-9.jpg"
      game=true
    }}
    {{> activity-card
      title="Notas La, Si y Do"
      href="/zona-de-juegos/la-si-do"
      image="/games/assets/images/thumbnails/game-10.jpg"
      game=true
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-5.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Escala de Do"
      href="/zona-de-juegos/escala-de-do"
      image="/games/assets/images/thumbnails/game-11.jpg"
      game=true
    }}
    {{> activity-card
      title="Clave de Sol"
      href="/zona-de-juegos/clave-de-sol"
      image="/games/assets/images/thumbnails/game-12.jpg"
      game=true
    }}
    {{> activity-card
      title="Ejercicios de respiración"
      href="/guias/guia-de-apoyo-2-6.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-6.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-7.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Partitura \"El Condor Pasa\""
      href="/guias/guia-de-apoyo-2-7.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-8.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Partituras de Carolina Manchola G."
      href="/guias/guia-de-apoyo-2-8.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-9.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-10.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-11.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-12.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Practica la armadura de clave"
      href="/guias/guia-de-apoyo-2-9.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-13.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-14.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-15.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-16.png">
  <div class="swiper-content">
    <video onclick="playFullscreenVideo(1)" preload="metadata" controls poster="/assets/images/thumbnails/modules/mod2-compass-with-the-hands.jpg">
      <source type="video/mp4" src="/assets/videos/modules/mod2-compass-with-the-hands.mp4">
    </video>
    <div class="source-video" style="max-width: 70%">
      <p>
        <strong><i>Fran López APRENDER MOLA.</i> (1 de octubre de 2018)</strong><br />
        Lleva los compases simples con la mano: 2/4, 3/4 y 4/4.<br />
        <a href="https://youtu.be/4D9SJG8UOU8" target="_blank">https://youtu.be/4D9SJG8UOU8</a>
     </p>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-17.png">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-2/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Practica de compases"
      href="/guias/guia-de-apoyo-2-10.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>