{{#section "head"}}
  {{> page-info
  title="Cartilla interactiva | SENNOVA"
  description="Descripción de la página de inicio."
  }}
  
  <style>
    .swiper-slide {
      background-image: url('/assets/images/modules/module-5/bg-main.jpg');
    }
  </style>
{{/section}}

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-1.png" alt="Página 1">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-2.png" alt="Página 2">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Escalas naturales"
      href="/zona-de-juegos/escalas-mayores-y-menores"
      image="/games/assets/images/thumbnails/game-15.jpg"
      game=true
    }}
    {{> activity-card
      title="Practica las escalas menores"
      href="/guias/guia-de-apoyo-5-1.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-3.png" alt="Página 3">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Practica la escala menor armónica"
      href="/guias/guia-de-apoyo-5-2.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-4.png" alt="Página 4">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-5.png" alt="Página 5">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Practica la escala menor melódica"
      href="/guias/guia-de-apoyo-5-3.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-6.png" alt="Página 6">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-7.png" alt="Página 7">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-5/contents/page-activity.png">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Practica la relativa menor"
      href="/guias/guia-de-apoyo-5-4.pdf"
      image="/assets/images/thumbnails/guides.jpg"
    }}
  </div>
</div>