{{#section "head"}}
  {{> page-info
  title="Cartilla interactiva | SENNOVA"
  description="Descripción de la página de inicio."
  }}
  
  <style>
    .swiper-slide {
      background-image: url('/assets/images/modules/module-1/bg-main.jpg');
    }

    video {
      max-width: 50%;
      height: 50%;
      display: block;
      margin: 0 auto;
      margin-top: 16%;
    }
  </style>
{{/section}}

<div class="swiper-slide" style="background-image: url('/assets/images/modules/module-1/bg-secondary.jpg')">
  <img src="/assets/images/modules/module-1/contents/page-1.png" alt="Página 1">
  <div class="swiper-content">
    <video onclick="playFullscreenVideo(1)" preload="metadata" controls poster="/assets/images/thumbnails/music-introduction.jpg">
      <source type="video/mp4" src="/assets/videos/music-introduction.mp4">
    </video>
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-2.png" alt="Página 2">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-3.png" alt="Página 3">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png" alt="Página 4">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Actividad 1"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 2"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 3"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-5.png" alt="Página 5">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png" alt="Página 6">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Actividad 4"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 5"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 6"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-7.png" alt="Página 7">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png" alt="Página 8">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Actividad 7"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 8"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-9.png" alt="Página 9">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png" alt="Página 10">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Actividad 9"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 10"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 11"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 12"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 13"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-11.png" alt="Página 11">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-activity.png" alt="Página 12">
  <div class="swiper-content grid-activities">
    {{> activity-card
      title="Actividad 14"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 15"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
    {{> activity-card
      title="Actividad 16"
      href="/actividades/actividad"
      image="/assets/images/thumbnails/warm-up/01-thumbnail.png"
    }}
  </div>
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-13.png" alt="Página 13">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-14.png" alt="Página 14">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-15.png" alt="Página 15">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-16.png" alt="Página 16">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-17.png" alt="Página 17">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-18.png" alt="Página 18">
</div>

<div class="swiper-slide">
  <img src="/assets/images/modules/module-1/contents/page-19.png" alt="Página 19">
</div>