<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/manifest.json">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {{> page-info
    title=title
    description=description
  }}

  {{{_sections.head}}}

  <link rel="stylesheet" href="/styles/dist/main.css">

  <style>
    html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    
    body {
      background-image: url(/assets/images/pages/main-bg.jpg);
      background-size: cover;
      background-color: #2e8b67;
      backdrop-filter: blur(3vw) contrast(120%);
    } 

    body > #pattern-bg {
      background-image: url(/assets/games/resources/pattern_bg.png);
      background-repeat: repeat;
      opacity: 0.5;
      position: absolute;
      inset: 0;
    }
    
    #game-container {
      max-width: 96vw;
      max-height: 96vh;
      margin-left: 2%;
      margin-top: 2vh;
      position: relative;

      canvas {
        border-radius: 1vw;
        border: solid 0.3vw rgba(17, 78, 73, 0.3);
        cursor: pointer;
      }
    }

    #action-buttons {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      padding: 1.2vw;

      .btn-action {
        padding: 0.7vw;
        border-radius: 0.3vw;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;

        svg {
          width: 2vw;
        }
      }

      .btn-action:hover {
        background-color: rgba(0, 0, 0, 0.7);
        transform: scale(1.05);
      }
    }
  </style>
  
  {{{_sections.style}}}

  <script src="/scripts/main.js" type="module"></script>
  <script type="module">
    import { Profile, getProfile } from '/scripts/profile.js'
    Profile()

    // Comprobar si hay un perfil activo
    if (!getProfile()) { window.location.href = '/zona-de-juegos' }
  </script>
</head>
<body>
  <div id="pattern-bg"></div>

  {{!-- Action buttons --}}
  <div id="action-buttons">
    <div>
      <a href="/zona-de-juegos" class="btn-action">
        <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
      </a>
    </div>
    <div>
      <button class="btn-fullscreen btn-action">
        <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-maximize"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 4l4 0l0 4" /><path d="M14 10l6 -6" /><path d="M8 20l-4 0l0 -4" /><path d="M4 20l6 -6" /><path d="M16 20l4 0l0 -4" /><path d="M14 14l6 6" /><path d="M8 4l-4 0l0 4" /><path d="M4 4l6 6" /></svg>
      </button>
    </div>
  </div>

  {{> profile reduced=true }}

  <div id="game-container"></div>

  {{{body}}}

  <script src="/assets/lib/phaser/phaser.min.js"></script>
  <script type="module">
    import { fullscreen } from '/scripts/fullscreen.js'
    const btnFullScreen = document.querySelector('#action-buttons .btn-fullscreen')
    const canvas = document.querySelector('#game-container canvas')
    fullscreen(btnFullScreen, canvas)
  </script>
</body>
</html>
