<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-48x48.png" sizes="48x48" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicons/favicon.svg" />
  <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png" />
  <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />

  {{> page-info
    title=title
    description=description
  }}

  {{{_sections.head}}}

  <link rel="stylesheet" href="/styles/dist/main.css">
  
  {{{_sections.style}}}
</head>
<body>
  {{{body}}}
</body>
</html>
